.wrapper {
  margin: 0 auto;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 200px;
  height: 300px;
  box-shadow: 0px 0px 5px black;
  .photo {
    position: relative;
    width: 90%;
    height: 180px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  .title {
    text-overflow: ellipsis;
    max-width: 100%;
    padding: 5px 10px;
    align-self: flex-start;

    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1rem;
    }
  }
  .rating {
    padding: 5px 10px;
    align-self: flex-start;
  }
  .btnblock {
    padding: 0 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .price {
      padding: 5px;
      display: block;
      font-size: 1.2rem;
      font-weight: 700;
    }
    .favorit {
      cursor: pointer;
      background-color: transparent;
      border: none;
      border-radius: 50%;
      img {
        width: 30px;
        height: 20px;
      }
      &:hover {
        background: yellow;
      }
    }
    .buy {
      cursor: pointer;
      width: 80px;
    }
  }
}
