.wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgb(221, 223, 56);
}
.navbar {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 25px;
  display: flex;
  justify-content: end;
  align-items: center;
  .category {
    margin-right: 20px;
    display: flex;
  }
  .search {
    justify-self: center;
    width: 50%;
  }
  .buttons {
    display: flex;
    justify-content: baseline;
    .cartbtn {
      margin-left: 20px;
      cursor: pointer;
      width: 45px;
      height: 45px;
    }
    .favorbtn {
      margin-left: 20px;
      cursor: pointer;
      width: 45px;
      height: 45px;
    }
    .loginbtn {
      margin-left: 20px;
      cursor: pointer;
      width: 45px;
      height: 45px;
    }
  }
}
