.wrapper {
  width: 100%;
  min-width: 280px;
  height: 60px;
  position: relative;

  .input {
    text-align: center;
    width: 100%;
    color: rgb(65, 65, 65);
    min-width: 280px;
    outline: none;
    font-size: 20px;
    height: 60px;
    padding: 4px 70px 4px 20px;
    background-color: transparent;
    border: 2px solid rgba(243, 243, 238, 0.7);
    border-radius: 60px;

    &::placeholder {
      padding-left: 70px;
      color: rgba(243, 243, 238, 0.7);
    }
    &:hover {
      border: 3px solid rgba(243, 243, 238, 0.7);
    }
    &:focus {
      &::placeholder {
        transition: opacity 0.25s ease;
        opacity: 0;
      }
    }
  }
  .button {
    border: 1px solid rgba(243, 243, 238, 0.7);
    overflow: hidden;
    background: rgba(243, 243, 238, 0.5);
    height: 60px;
    width: 60px;
    padding: 4px;
    position: absolute;
    border-radius: 60px;
    left: 0px;
    top: 0px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;

    img {
      height: 25px;
      width: 25px;
      opacity: 0.2;
    }

    &:hover {
      opacity: 1;
      background-color: rgba(243, 243, 238, 0.5);
      width: 10%;
    }

    &:focus {
      background-color: rgb(255, 255, 255);
    }
  }
  .clear {
    position: absolute;
    right: 0;
    top: 20px;
    cursor: pointer;
    overflow: hidden;
    height: 60px;
    width: 60px;
    opacity: 0.3;
    img {
      height: 20px;
      width: 20px;
    }
    &:hover {
      opacity: 0.7;
      transition: opacity 0.25s ease;
    }
  }
}
